{{ template "base" .}}

{{ define "content" }}


<div class="artists">
    <form id="0" action="artist" method="GET">
        {{range .Artists}}
        <div class="artist">
            <h3>{{.ArtistName}}</h3>     
            <img src="{{.Img}}" class="img" loading="lazy">   
            <a href="./artist" name="group" value="{{.ArtistName}}">
                <button name="group" value="{{.ArtistName}}" >More info...</button>
            </a>
        </div>
        {{end}}
    </form>
</div>


{{ end }}

{{ define "bar" }}

<div>
    <form action="/" method="get">
        <input type="search" list="search-input" placeholder="What are you looking for?" name="search" value="" id="site-search" autocomplete="off">
        <button type="submit" value="search" ><i>search</i></button>
        <datalist id="search-input">
            {{ range $i, $test := .Bar.Artist_BandName }}
            <option>{{ $i }} - Artist_BandName</option>
            {{ end }}

            {{ range $i, $test := .Bar.Members }}
            <option>{{ $i }} - Members</option>
            {{ end }}

            {{ range $i, $test := .Bar.Locations }} 
            <option>{{ $i }} - Locations</option>
            {{ end }}

            {{ range $i, $test := .Bar.FirstAlbum_FullDate }}
            <option>{{ $i }} - FirstAlbum_Date</option>
            {{ end }}
            
            {{ range $i, $test := .Bar.Creation_Date }}
            <option>{{ $i }} - Creation_Date</option>
            {{ end }}
        </datalist>
    </form>
</div>

{{ end }}

{{ define "filter" }}
    <div>
        <form action="/" method="get">
            <label>Dates minimum de création du groupe</label>
            <select name="minDateCreation" >
                {{ range $i, $void := .Bar.Creation_Date}}
                <option value="{{$i}}">{{$i}}</option>
                {{ end }}
            </select>
            <label>Dates maximum de création du groupe</label>
            <select name="maxDateCreation" >
                {{ range $i, $void := .Bar.Creation_Date}}
                <option value="{{$i}}">{{$i}}</option>
                {{ end }}
            </select>
            <label>Dates minimum de parution du premier album</label>
            <select name="minDateAlbum" >
                {{ range $i, $void := .Bar.FirstAlbum_YearDate }}
                <option value="{{$i}}">{{$i}}</option>
                {{ end }}
            </select>
            <label>Dates maximum de parution du premier album</label>
            <select name="maxDateAlbum" >
                {{ range $i, $void := .Bar.FirstAlbum_YearDate }}
                <option value="{{$i}}">{{$i}}</option>
                {{ end }}
            </select>
            <fieldset>
                <legend>Choose nb of Members :</legend>
                    <div>
                        <label for="any">any</label>
                        <input type="checkbox" id="any" name="any" checked>
                    </div>
                {{ range $i, $void := .Bar.NbMembers }}
                    <div>
                        <label for="{{ $i }}">{{ $i }}</label>
                        <input type="checkbox" id="{{ $i }}" name="{{ $i }}" >
                    </div>
                {{ end }}
            </fieldset>
            <input type="search" name="locationsFilter" list="locations" placeholder="Select location" autocomplete="off">
            <datalist id="locations">
            {{ range $i, $test := .Bar.Locations }}
            <option>{{ $i }}</option>   
            {{ end }}
            </datalist>
            <button type="submit">filter apply</button>
        </form>
    </div>
{{ end }}
